<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sparkle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>finish_installation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>55C14BB6136EEF1500649790</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D06E8CF0FD68C7C005AE3F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>612279D80DB5470200AB99EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61B5F90109C4CEE200B25A18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DC2EF4F0486A6940098B216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
