<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zip</string>
				<string>ZIP</string>
				<string></string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-ZIP</string>
			<key>CFBundleTypeName</key>
			<string>ZIP Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>PGAdapterClass</key>
			<string>PGArchiveAdapter</string>
			<key>PGBundleTypeFourCC</key>
			<data>
			UEsDBA==
			</data>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cbz</string>
				<string>CBZ</string>
				<string></string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-CBZ</string>
			<key>CFBundleTypeName</key>
			<string>CBZ Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>PGAdapterClass</key>
			<string>PGArchiveAdapter</string>
			<key>PGBundleTypeFourCC</key>
			<data>
			UEsDBA==
			</data>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rar</string>
				<string>RAR</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-RAR</string>
			<key>CFBundleTypeName</key>
			<string>RAR Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>PGAdapterClass</key>
			<string>PGArchiveAdapter</string>
			<key>PGBundleTypeFourCC</key>
			<data>
			UmFyIQ==
			</data>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cbr</string>
				<string>CBR</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-CBR</string>
			<key>CFBundleTypeName</key>
			<string>CBR Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>PGAdapterClass</key>
			<string>PGArchiveAdapter</string>
			<key>PGBundleTypeFourCC</key>
			<data>
			UmFyIQ==
			</data>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Image Folder</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>fold</string>
				<string>disk</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.folder</string>
				<string>public.volume</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>PGAdapterClass</key>
			<string>PGFolderAdapter</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdf</string>
				<string>PDF</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-PDF</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/pdf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PDF File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PDF </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
			<key>PGAdapterClass</key>
			<string>PGPDFAdapter</string>
			<key>PGBundleTypeFourCC</key>
			<data>
			JVBERg==
			</data>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>epi</string>
				<string>EPI</string>
				<string>eps</string>
				<string>EPS</string>
				<string>epsf</string>
				<string>EPSF</string>
				<string>epsi</string>
				<string>EPSI</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-EPI</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/postscript</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PostScript Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>PGAdapterClass</key>
			<string>PGGenericImageAdapter</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tiff</string>
				<string>TIFF</string>
				<string>tif</string>
				<string>TIF</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-TIFF</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/tiff</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>TIFF Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TIFF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.tiff</string>
			</array>
			<key>PGAdapterClass</key>
			<string>PGGenericImageAdapter</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>CRW</string>
				<string>crw</string>
				<string>CR2</string>
				<string>cr2</string>
				<string>NEF</string>
				<string>nef</string>
				<string>RAF</string>
				<string>raf</string>
				<string>ORF</string>
				<string>orf</string>
				<string>MRW</string>
				<string>mrw</string>
				<string>SRF</string>
				<string>srf</string>
				<string>DCR</string>
				<string>dcr</string>
				<string>ARW</string>
				<string>arw</string>
				<string>PEF</string>
				<string>pef</string>
				<string>RAW</string>
				<string>raw</string>
				<string>DNG</string>
				<string>dng</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-CRW</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/raw</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Camera Raw Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>CRW </string>
				<string>CR2 </string>
				<string>NEF </string>
				<string>DNG </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>PGAdapterClass</key>
			<string>PGGenericImageAdapter</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>XBM</string>
				<string>xbm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-XBM</string>
			<key>CFBundleTypeName</key>
			<string>XBM Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>XBM </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>PGAdapterClass</key>
			<string>PGGenericImageAdapter</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>EXR</string>
				<string>exr</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-EXR</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/exr</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>OpenEXR Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>exr </string>
				<string>EXR </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.ilm.openexr-image</string>
			</array>
			<key>PGAdapterClass</key>
			<string>PGGenericImageAdapter</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bmp</string>
				<string>BMP</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-BMP</string>
			<key>CFBundleTypeName</key>
			<string>Windows Bitmap Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BMP </string>
				<string>BMPf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.bmp</string>
			</array>
			<key>PGAdapterClass</key>
			<string>PGGenericImageAdapter</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gif</string>
				<string>GIF</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-GIF</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/gif</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Graphics Interchange Format Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>GIFf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.compuserve.gif</string>
			</array>
			<key>PGAdapterClass</key>
			<string>PGGenericImageAdapter</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ico</string>
				<string>ICO</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-ICO</string>
			<key>CFBundleTypeName</key>
			<string>Windows Icon Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.ico</string>
			</array>
			<key>PGAdapterClass</key>
			<string>PGGenericImageAdapter</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jpg</string>
				<string>JPG</string>
				<string>jpeg</string>
				<string>JPEG</string>
				<string>jpe</string>
				<string>JPE</string>
				<string>thm</string>
				<string>THM</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-JPG</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/jpeg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>JPEG Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>JPEG</string>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jpeg</string>
			</array>
			<key>PGAdapterClass</key>
			<string>PGGenericImageAdapter</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pict</string>
				<string>PICT</string>
				<string>pct</string>
				<string>PCT</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-PICT</string>
			<key>CFBundleTypeName</key>
			<string>PICT Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PICT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.pict</string>
			</array>
			<key>PGAdapterClass</key>
			<string>PGGenericImageAdapter</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>png</string>
				<string>PNG</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-PNG</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Portable Network Graphics Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PNGf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.png</string>
			</array>
			<key>PGAdapterClass</key>
			<string>PGGenericImageAdapter</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>qtif</string>
				<string>QTIF</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-QTIF</string>
			<key>CFBundleTypeName</key>
			<string>Apple QuickTime Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>qtif</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.quicktime-image</string>
			</array>
			<key>PGAdapterClass</key>
			<string>PGGenericImageAdapter</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tga</string>
				<string>TGA</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-TGA</string>
			<key>CFBundleTypeName</key>
			<string>Targa Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TPIC</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.truevision.tga-image</string>
			</array>
			<key>PGAdapterClass</key>
			<string>PGGenericImageAdapter</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sgi</string>
				<string>SGI</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-SGI</string>
			<key>CFBundleTypeName</key>
			<string>Silicon Graphics Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>.SGI</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.sgi.sgi-image</string>
			</array>
			<key>PGAdapterClass</key>
			<string>PGGenericImageAdapter</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>psd</string>
				<string>PSD</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-PSD</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BPS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.photoshop-image</string>
			</array>
			<key>PGAdapterClass</key>
			<string>PGGenericImageAdapter</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pntg</string>
				<string>PNTG</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-PNTG</string>
			<key>CFBundleTypeName</key>
			<string>Apple MacPaint Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PNTG</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.macpaint-image</string>
			</array>
			<key>PGAdapterClass</key>
			<string>PGGenericImageAdapter</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fpx</string>
				<string>FPX</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-FPX</string>
			<key>CFBundleTypeName</key>
			<string>FlashPix Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kodak.flashpix-image</string>
			</array>
			<key>PGAdapterClass</key>
			<string>PGGenericImageAdapter</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fax</string>
				<string>FAX</string>
				<string>jfx</string>
				<string>JFX</string>
				<string>jfax</string>
				<string>JFAX</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-FAX</string>
			<key>CFBundleTypeName</key>
			<string>Fax Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.fax</string>
			</array>
			<key>PGAdapterClass</key>
			<string>PGGenericImageAdapter</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>icns</string>
				<string>ICNS</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-ICNS</string>
			<key>CFBundleTypeName</key>
			<string>Apple Icon Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.icns</string>
			</array>
			<key>PGAdapterClass</key>
			<string>PGGenericImageAdapter</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jp2</string>
				<string>JP2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-JP2</string>
			<key>CFBundleTypeName</key>
			<string>JPEG 2000 Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jpeg-2000</string>
			</array>
			<key>PGAdapterClass</key>
			<string>PGGenericImageAdapter</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pic</string>
				<string>PIC</string>
				<string>hdr</string>
				<string>HDR</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-PIC</string>
			<key>CFBundleTypeName</key>
			<string>Radiance</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.radiance</string>
			</array>
			<key>PGAdapterClass</key>
			<string>PGGenericImageAdapter</string>
		</dict>
		<dict>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/html</string>
				<string>application/xhtml+xml</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>PGAdapterClass</key>
			<string>PGHTMLAdapter</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>1.4</string>
	<key>CFBundleHelpBookFolder</key>
	<string>SequentialHelp</string>
	<key>CFBundleHelpBookName</key>
	<string>Sequential Help</string>
	<key>CFBundleIconFile</key>
	<string>Sequential</string>
	<key>CFBundleIdentifier</key>
	<string>com.BenTrask.Sequential</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>http</string>
				<string>ftp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.4</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.3.9</string>
	<key>NSMainNibFile</key>
	<string>PGMenu</string>
	<key>NSPrincipalClass</key>
	<string>PGApplication</string>
</dict>
</plist>
