<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zip</string>
				<string>ZIP</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-ZIP</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/zip</string>
				<string>application/x-zip</string>
				<string>application/x-zip-compressed</string>
				<string>multipart/x-zip</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cbz</string>
				<string>CBZ</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-CBZ</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rar</string>
				<string>RAR</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-RAR</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/rar</string>
				<string>application/x-rar</string>
				<string>application/x-rar-compressed</string>
				<string>compressed/rar</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cbr</string>
				<string>CBR</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-CBR</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>fold</string>
				<string>disk</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.folder</string>
				<string>public.volume</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdf</string>
				<string>PDF</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-PDF</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/pdf</string>
				<string>application/x-pdf</string>
				<string>application/acrobat</string>
				<string>applications/vnd.pdf</string>
				<string>text/pdf</string>
				<string>text/x-pdf</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PDF </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>epi</string>
				<string>EPI</string>
				<string>eps</string>
				<string>EPS</string>
				<string>epsf</string>
				<string>EPSF</string>
				<string>epsi</string>
				<string>EPSI</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-EPI</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/postscript</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tiff</string>
				<string>TIFF</string>
				<string>tif</string>
				<string>TIF</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-TIFF</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/tiff</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TIFF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.tiff</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>CRW</string>
				<string>crw</string>
				<string>CR2</string>
				<string>cr2</string>
				<string>NEF</string>
				<string>nef</string>
				<string>RAF</string>
				<string>raf</string>
				<string>ORF</string>
				<string>orf</string>
				<string>MRW</string>
				<string>mrw</string>
				<string>SRF</string>
				<string>srf</string>
				<string>DCR</string>
				<string>dcr</string>
				<string>ARW</string>
				<string>arw</string>
				<string>PEF</string>
				<string>pef</string>
				<string>RAW</string>
				<string>raw</string>
				<string>DNG</string>
				<string>dng</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-CRW</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/raw</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>CRW </string>
				<string>CR2 </string>
				<string>NEF </string>
				<string>DNG </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>XBM</string>
				<string>xbm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-XBM</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>XBM </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>EXR</string>
				<string>exr</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-EXR</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/exr</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>exr </string>
				<string>EXR </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.ilm.openexr-image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bmp</string>
				<string>BMP</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-BMP</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/bmp</string>
				<string>image/x-bmp</string>
				<string>image/x-windows-bmp</string>
				<string>image/ms-bmp</string>
				<string>image/x-ms-bmp</string>
				<string>application/bmp</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BMP </string>
				<string>BMPf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.bmp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gif</string>
				<string>GIF</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-GIF</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/gif</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>GIFf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.compuserve.gif</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ico</string>
				<string>ICO</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-ICO</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.ico</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jpg</string>
				<string>JPG</string>
				<string>jpeg</string>
				<string>JPEG</string>
				<string>jpe</string>
				<string>JPE</string>
				<string>thm</string>
				<string>THM</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-JPG</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/jpeg</string>
				<string>image/jpg</string>
				<string>image/pjpeg</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>JPEG</string>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jpeg</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pict</string>
				<string>PICT</string>
				<string>pct</string>
				<string>PCT</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-PICT</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/pict</string>
				<string>image/x-pict</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PICT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.pict</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>png</string>
				<string>PNG</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-PNG</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/png</string>
				<string>application/png</string>
				<string>application/x-png</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PNGf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.png</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>qtif</string>
				<string>QTIF</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-QTIF</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>qtif</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.quicktime-image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tga</string>
				<string>TGA</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-TGA</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TPIC</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.truevision.tga-image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sgi</string>
				<string>SGI</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-SGI</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>.SGI</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.sgi.sgi-image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>psd</string>
				<string>PSD</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-PSD</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/photoshop</string>
				<string>image/x-photoshop</string>
				<string>image/psd</string>
				<string>application/photoshop</string>
				<string>application/psd</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BPS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.photoshop-image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pntg</string>
				<string>PNTG</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-PNTG</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PNTG</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.macpaint-image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fpx</string>
				<string>FPX</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-FPX</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kodak.flashpix-image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fax</string>
				<string>FAX</string>
				<string>jfx</string>
				<string>JFX</string>
				<string>jfax</string>
				<string>JFAX</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-FAX</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.fax</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>icns</string>
				<string>ICNS</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-ICNS</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.icns</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jp2</string>
				<string>JP2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-JP2</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jpeg-2000</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pic</string>
				<string>PIC</string>
				<string>hdr</string>
				<string>HDR</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-PIC</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.radiance</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/html</string>
				<string>application/xhtml+xml</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xml</string>
				<string>XML</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/xml</string>
				<string>application/xml</string>
				<string>text/xml+oembed</string>
				<string>application/xml+oembed</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rss</string>
				<string>RSS</string>
			</array>
			<key>CFBundleMIMETypes</key>
			<array>
				<string>text/rss+xml</string>
				<string>application/rss+xml</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>2.1</string>
	<key>CFBundleHelpBookFolder</key>
	<string>SequentialHelp</string>
	<key>CFBundleHelpBookName</key>
	<string>Sequential Help</string>
	<key>CFBundleIconFile</key>
	<string>Sequential</string>
	<key>CFBundleIdentifier</key>
	<string>com.SequentialX.Sequential</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>http</string>
				<string>https</string>
				<string>ftp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2.1</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.5.8</string>
	<key>NSMainNibFile</key>
	<string>PGMenu</string>
	<key>NSPrincipalClass</key>
	<string>PGApplication</string>
	<key>NSSupportsSuddenTermination</key>
	<string>YES</string>
	<key>PGResourceAdapterClasses</key>
	<dict>
		<key>PGArchiveAdapter</key>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zip</string>
				<string>cbz</string>
				<string>rar</string>
				<string>cbr</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/zip</string>
				<string>application/x-zip</string>
				<string>application/x-zip-compressed</string>
				<string>multipart/x-zip</string>
				<string>application/rar</string>
				<string>application/x-rar</string>
				<string>application/x-rar-compressed</string>
				<string>compressed/rar</string>
			</array>
			<key>PGBundleTypeFourCCs</key>
			<array>
				<data>UEsDBA==</data>
				<data>UmFyIQ==</data>
			</array>
		</dict>
		<key>PGFlickrAdapter</key>
		<dict/>
		<key>PGFolderAdapter</key>
		<dict/>
		<key>PGGenericImageAdapter</key>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>epi</string>
				<string>eps</string>
				<string>epsf</string>
				<string>epsi</string>
				<string>tiff</string>
				<string>tif</string>
				<string>crw</string>
				<string>cr2</string>
				<string>nef</string>
				<string>raf</string>
				<string>orf</string>
				<string>mrw</string>
				<string>srf</string>
				<string>dcr</string>
				<string>arw</string>
				<string>pef</string>
				<string>raw</string>
				<string>dng</string>
				<string>xbm</string>
				<string>exr</string>
				<string>bmp</string>
				<string>gif</string>
				<string>ico</string>
				<string>jpg</string>
				<string>jpeg</string>
				<string>jpe</string>
				<string>thm</string>
				<string>pict</string>
				<string>pct</string>
				<string>png</string>
				<string>qtif</string>
				<string>tga</string>
				<string>sgi</string>
				<string>psd</string>
				<string>pntg</string>
				<string>fpx</string>
				<string>fax</string>
				<string>jfx</string>
				<string>jfax</string>
				<string>icns</string>
				<string>jp2</string>
				<string>pic</string>
				<string>PIC</string>
				<string>hdr</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/postscript</string>
				<string>image/tiff</string>
				<string>image/raw</string>
				<string>image/exr</string>
				<string>image/bmp</string>
				<string>image/x-bmp</string>
				<string>image/x-windows-bmp</string>
				<string>image/ms-bmp</string>
				<string>image/x-ms-bmp</string>
				<string>application/bmp</string>
				<string>image/gif</string>
				<string>image/jpeg</string>
				<string>image/jpg</string>
				<string>image/pjpeg</string>
				<string>image/pict</string>
				<string>image/x-pict</string>
				<string>image/png</string>
				<string>application/png</string>
				<string>application/x-png</string>
				<string>image/photoshop</string>
				<string>image/x-photoshop</string>
				<string>image/psd</string>
				<string>application/photoshop</string>
				<string>application/psd</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TIFF</string>
				<string>CRW </string>
				<string>CR2 </string>
				<string>NEF </string>
				<string>DNG </string>
				<string>XBM </string>
				<string>exr </string>
				<string>EXR </string>
				<string>BMP </string>
				<string>BMPf</string>
				<string>GIFf</string>
				<string>JPEG</string>
				<string>PICT</string>
				<string>PNGf</string>
				<string>qtif</string>
				<string>TPIC</string>
				<string>.SGI</string>
				<string>8BPS</string>
				<string>PNTG</string>
			</array>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.tiff</string>
				<string>com.ilm.openexr-image</string>
				<string>com.microsoft.bmp</string>
				<string>com.compuserve.gif</string>
				<string>com.microsoft.ico</string>
				<string>public.jpeg</string>
				<string>com.apple.pict</string>
				<string>public.png</string>
				<string>com.apple.quicktime-image</string>
				<string>com.truevision.tga-image</string>
				<string>com.sgi.sgi-image</string>
				<string>com.adobe.photoshop-image</string>
				<string>com.apple.macpaint-image</string>
				<string>com.kodak.flashpix-image</string>
				<string>public.fax</string>
				<string>com.apple.icns</string>
				<string>public.jpeg-2000</string>
				<string>public.radiance</string>
			</array>
		</dict>
		<key>PGHTMLAdapter</key>
		<dict>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/html</string>
				<string>application/xhtml+xml</string>
			</array>
		</dict>
		<key>PGPDFAdapter</key>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdf</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/pdf</string>
				<string>application/x-pdf</string>
				<string>application/acrobat</string>
				<string>applications/vnd.pdf</string>
				<string>text/pdf</string>
				<string>text/x-pdf</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PDF </string>
			</array>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
			<key>PGBundleTypeFourCC</key>
			<array>
				<data>JVBERg==</data>
			</array>
		</dict>
		<key>PGResourceAdapter</key>
		<dict/>
		<key>PGWebAdapter</key>
		<dict/>
		<key>PGXMLAdapter</key>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xml</string>
				<string>rss</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/xml</string>
				<string>application/xml</string>
				<string>text/xml+oembed</string>
				<string>application/xml+oembed</string>
				<string>text/rss+xml</string>
				<string>application/rss+xml</string>
			</array>
		</dict>
	</dict>
	<key>SUAllowsAutomaticUpdates</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUEnableSystemProfiling</key>
	<false/>
	<key>SUFeedURL</key>
	<string>http://www.sequentialx.com/sequential.xml</string>
	<key>SUShowReleaseNotes</key>
	<false/>
</dict>
</plist>
