<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Everything.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>XADMaster.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>XADTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>XADTest2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>XADTest3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>XADTest4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>libXADMaster.a (Windows).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>libXADMaster.a.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>lsar.exe (Windows).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>lsar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>unar.exe (Windows).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>unar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1B23DDBF1185EBA300620319</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B34A97411C2FD0500396C26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B3A6898101BA12C00AE25A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B433E2611E945D300DA1EFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B5A7BA20A24F9B400B189EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B91CCBE11D97E7C0081E40A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B91CD9611D981E20081E40A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B91D17911E1677B0081E40A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B91D2D611E694860081E40A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BBAB67F0EC274A3007FE6A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BC893190ED6F283006B47FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DC2EF4F0486A6940098B216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
